.main-c {
    color: #FF9800;
}

.bc-main-color {
    background-color: #FF9800;
}

.bc-thecound-color {
    background-color: #9c27b0;
}

.bc-third-color {
    background-color: #E91E63;
}

.bc-four-color {
    background-color: #03A9F4;
}

.bc-fife-color {
    background-color: #4CAF50;
}